@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Welcome to My Portfolio</h1>
    <p style="color:orange">Hi, I'm Mohammad Fallaha, a passionate Back-End Developer with expertise in ASP.NET Core.</p>
</div>

<div class="container mt-4 text-light">
    <div class="row">
        <div class="col-md-4 text-center">
            <!-- مكان الصورة الشخصية -->
            <img src="/images/i.png" class="rounded-circle img-fluid mb-3" alt="My Photo" style="width:150px; height:150;">
            <h2>About Me</h2>
            <p>A back-end developer with a degree in Computer Engineering from Aleppo University. I have a strong attention to detail and excellent problem-solving skills.</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-info">Skills</h2>
            <ul class="list-unstyled">
                <li class="mb-2">
                    <i class="fab fa-cuttlefish text-primary"></i> C#
                </li>
                <li class="mb-2">
                    <i class="fab fa-windows text-primary"></i> ASP.NET Core
                </li>
                <li class="mb-2">
                    <i class="fas fa-database text-success"></i> SQL Server
                </li>
                <li class="mb-2">
                    <i class="fas fa-project-diagram text-danger"></i> Entity Framework Core
                </li>
                <li class="mb-2">
                    <i class="fab fa-html5 text-warning"></i> HTML
                </li>
                <li class="mb-2">
                    <i class="fab fa-css3-alt text-info"></i> CSS & Bootstrap
                </li>
                <li class="mb-2">
                    <i class="fab fa-git text-warning"></i> Git & GitHub
                </li>
                <li class="mb-2">
                    <i class="fab fa-js text-warning"></i> java Script
                </li>
                <li class="mb-2">
                    <i class="fas fa-lightbulb text-warning"></i> Problem Solving
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="text-info">Projects</h2>
            <ul class="list-unstyled">
                <li class="mb-2"><a href="http://gamezone053.runasp.net/" class="text-warning">MVC ZoneGame (Demo)</a></li>
                <li class="mb-2"><a href="https://github.com/mohammadfallaha053/GameZone" class="text-warning">MVC ZoneGame (GitHub)</a></li>
                <li class="mb-2"><a href="https://mr3qar.netlify.app/en" class="text-warning">WebApi mr3qar (Demo)</a></li>
                <li class="mb-2"><a href="https://kunuzhalab.com" class="text-warning">Soap Selling Platform (Demo)</a></li>
                <li class="mb-2"><a href="https://github.com/mohammadfallaha053/ML" class="text-warning">Medical Analyzes  (GitHub)</a></li>
                <li class="mb-2"><a href="https://github.com/mohammadfallaha053/Generate_Barcode" class="text-warning">Generate_Barcode (GitHub)</a></li>         
                <li class="mb-2"><a href="https://mohammadfallaha053.github.io/DASHBOARD_CRUD_053_HTML-CSS-JS-" class="text-warning">DASHBOARD JS (Demo)</a></li>
                <li class="mb-2"><a href="https://github.com/mohammadfallaha053/DASHBOARD_CRUD_053_HTML-CSS-JS-" class="text-warning">DASHBOARD JS (GitHub)</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="text-center mt-4 text-light">
    <h2>Contact Me</h2>
    <p>Email: <a href="mailto:mohammadfallaha053@gmail.com" class="text-warning">mohammadfallaha053@gmail.com</a></p>
    <p>Phone: +963 956 661 418</p>
</div>
